In [1]:
import pandas as pd
import numpy as np
from simpledbf import Dbf5
import matplotlib.pyplot as plt
import math
plt.style.use('ggplot')

In [2]:
sixtyone_2016_rev = pd.read_excel('../data/861m/f8262016.xls',sheet_name=0)
sixtyone_2017_rev = pd.read_excel('../data/861m/retail_sales_2017.xlsx',sheet_name=0)
sixtyone_2018_rev = pd.read_excel('../data/861m/retail_sales_2018.xlsx',sheet_name=0)
sixtyone_2019_rev = pd.read_excel('../data/861m/retail_sales_2019.xlsx',sheet_name=0)

In [3]:
yr = 2016
sixty_2016_1 = pd.read_excel(f'../data/860m/january_generator{yr}.xlsx',sheet_name=0)
sixty_2016_2 = pd.read_excel(f'../data/860m/february_generator{yr}.xlsx',sheet_name=0)
sixty_2016_3 = pd.read_excel(f'../data/860m/march_generator{yr}.xlsx',sheet_name=0)
sixty_2016_4 = pd.read_excel(f'../data/860m/april_generator{yr}.xlsx',sheet_name=0)
sixty_2016_5 = pd.read_excel(f'../data/860m/may_generator{yr}.xlsx',sheet_name=0)
sixty_2016_6 = pd.read_excel(f'../data/860m/june_generator{yr}.xlsx',sheet_name=0)
sixty_2016_7 = pd.read_excel(f'../data/860m/july_generator{yr}.xlsx',sheet_name=0)
sixty_2016_8 = pd.read_excel(f'../data/860m/august_generator{yr}.xlsx',sheet_name=0)
sixty_2016_9 = pd.read_excel(f'../data/860m/september_generator{yr}.xlsx',sheet_name=0)
sixty_2016_10 = pd.read_excel(f'../data/860m/october_generator{yr}.xlsx',sheet_name=0)
sixty_2016_11 = pd.read_excel(f'../data/860m/november_generator{yr}.xlsx',sheet_name=0)
sixty_2016_12 = pd.read_excel(f'../data/860m/december_generator{yr}.xlsx',sheet_name=0)
yr = 2017
sixty_2017_1 = pd.read_excel(f'../data/860m/january_generator{yr}.xlsx',sheet_name=0)
sixty_2017_2 = pd.read_excel(f'../data/860m/february_generator{yr}.xlsx',sheet_name=0)
sixty_2017_3 = pd.read_excel(f'../data/860m/march_generator{yr}.xlsx',sheet_name=0)
sixty_2017_4 = pd.read_excel(f'../data/860m/april_generator{yr}.xlsx',sheet_name=0)
sixty_2017_5 = pd.read_excel(f'../data/860m/may_generator{yr}.xlsx',sheet_name=0)
sixty_2017_6 = pd.read_excel(f'../data/860m/june_generator{yr}.xlsx',sheet_name=0)
sixty_2017_7 = pd.read_excel(f'../data/860m/july_generator{yr}.xlsx',sheet_name=0)
sixty_2017_8 = pd.read_excel(f'../data/860m/august_generator{yr}.xlsx',sheet_name=0)
sixty_2017_9 = pd.read_excel(f'../data/860m/september_generator{yr}.xlsx',sheet_name=0)
sixty_2017_10 = pd.read_excel(f'../data/860m/october_generator{yr}.xlsx',sheet_name=0)
sixty_2017_11 = pd.read_excel(f'../data/860m/november_generator{yr}.xlsx',sheet_name=0)
sixty_2017_12 = pd.read_excel(f'../data/860m/december_generator{yr}.xlsx',sheet_name=0)
yr = 2018
sixty_2018_1 = pd.read_excel(f'../data/860m/january_generator{yr}.xlsx',sheet_name=0)
sixty_2018_2 = pd.read_excel(f'../data/860m/february_generator{yr}.xlsx',sheet_name=0)
sixty_2018_3 = pd.read_excel(f'../data/860m/march_generator{yr}.xlsx',sheet_name=0)
sixty_2018_4 = pd.read_excel(f'../data/860m/april_generator{yr}.xlsx',sheet_name=0)
sixty_2018_5 = pd.read_excel(f'../data/860m/may_generator{yr}.xlsx',sheet_name=0)
sixty_2018_6 = pd.read_excel(f'../data/860m/june_generator{yr}.xlsx',sheet_name=0)
sixty_2018_7 = pd.read_excel(f'../data/860m/july_generator{yr}.xlsx',sheet_name=0)
sixty_2018_8 = pd.read_excel(f'../data/860m/august_generator{yr}.xlsx',sheet_name=0)
sixty_2018_9 = pd.read_excel(f'../data/860m/september_generator{yr}.xlsx',sheet_name=0)
sixty_2018_10 = pd.read_excel(f'../data/860m/october_generator{yr}.xlsx',sheet_name=0)
sixty_2018_11 = pd.read_excel(f'../data/860m/november_generator{yr}.xlsx',sheet_name=0)
sixty_2018_12 = pd.read_excel(f'../data/860m/december_generator{yr}.xlsx',sheet_name=0)
yr = 2019
sixty_2019_1 = pd.read_excel(f'../data/860m/january_generator{yr}.xlsx',sheet_name=0)
sixty_2019_2 = pd.read_excel(f'../data/860m/february_generator{yr}.xlsx',sheet_name=0)
sixty_2019_3 = pd.read_excel(f'../data/860m/march_generator{yr}.xlsx',sheet_name=0)
sixty_2019_4 = pd.read_excel(f'../data/860m/april_generator{yr}.xlsx',sheet_name=0)
sixty_2019_5 = pd.read_excel(f'../data/860m/may_generator{yr}.xlsx',sheet_name=0)
sixty_2019_6 = pd.read_excel(f'../data/860m/june_generator{yr}.xlsx',sheet_name=0)
sixty_2019_7 = pd.read_excel(f'../data/860m/july_generator{yr}.xlsx',sheet_name=0)
sixty_2019_8 = pd.read_excel(f'../data/860m/august_generator{yr}.xlsx',sheet_name=0)
sixty_2019_9 = pd.read_excel(f'../data/860m/september_generator{yr}.xlsx',sheet_name=0)
sixty_2019_10 = pd.read_excel(f'../data/860m/october_generator{yr}.xlsx',sheet_name=0)
sixty_2019_11 = pd.read_excel(f'../data/860m/november_generator{yr}.xlsx',sheet_name=0)
sixty_2019_12 = pd.read_excel(f'../data/860m/december_generator{yr}.xlsx',sheet_name=0)

In [4]:
sixty_2016 = {1:sixty_2016_1,2:sixty_2016_2,3:sixty_2016_3,4:sixty_2016_4
              ,5:sixty_2016_5,6:sixty_2016_6,7:sixty_2016_7,8:sixty_2016_8
              ,9:sixty_2016_9,10:sixty_2016_10,11:sixty_2016_11,12:sixty_2016_12}

sixty_2017 = {1:sixty_2017_1,2:sixty_2017_2,3:sixty_2017_3,4:sixty_2017_4
              ,5:sixty_2017_5,6:sixty_2017_6,7:sixty_2017_7,8:sixty_2017_8
              ,9:sixty_2017_9,10:sixty_2017_10,11:sixty_2017_11,12:sixty_2017_12}

sixty_2018 = {1:sixty_2018_1,2:sixty_2018_2,3:sixty_2018_3,4:sixty_2018_4
              ,5:sixty_2018_5,6:sixty_2018_6,7:sixty_2018_7,8:sixty_2018_8
              ,9:sixty_2018_9,10:sixty_2018_10,11:sixty_2018_11,12:sixty_2018_12}

sixty_2019 = {1:sixty_2019_1,2:sixty_2019_2,3:sixty_2019_3,4:sixty_2019_4
              ,5:sixty_2019_5,6:sixty_2019_6,7:sixty_2019_7,8:sixty_2019_8
              ,9:sixty_2019_9,10:sixty_2019_10,11:sixty_2019_11,12:sixty_2019_12}

In [5]:
def re_index_sixty(sixty):
    for item in sixty.items():
            headers = sixty[item[0]].iloc[0]
            sixty[item[0]] = pd.DataFrame(sixty[item[0]].values[1:], columns=headers)


def month_agg(sixty):
    default = sixty[1]
    for item in sixty.items():
        if item[0] > 1:
            default = default.append(item[1]).copy()
    return default

def add_month(sixty):
    for item in sixty.items():
        item[1]['Month'] = item[0]

def rename_cols(sixty):
    for item in sixty.items():
        item[1].columns = item[1].columns.str.upper()
        item[1].columns = item[1].columns.str.replace(' ', '')
        item[1].columns = item[1].columns.str.replace('-', '')
        item[1].columns = item[1].columns.str.replace('_', '')
        item[1].columns = item[1].columns.str.replace('\\n', '')
        item[1].columns = item[1].columns.str.replace('ENTITYID', 'UTILITYID')
        item[1].columns = item[1].columns.str.replace('ENTITYNAME', 'UTILITYNAME')
        
        
def drop_cols(sixty):
    for item in sixty.items():
        item[1].drop(columns=['TECHNOLOGY','PRIMEMOVERCODE', 'OPERATINGMONTH', 'OPERATINGYEAR',
                                           'PLANNEDRETIREMENTMONTH', 'PLANNEDRETIREMENTYEAR', 'STATUS',
                                           'PLANNEDDERATEYEAR', 'PLANNEDDERATEMONTH',
                                           'PLANNEDDERATEOFSUMMERCAPACITY(MW)', 'PLANNEDUPRATEYEAR',
                                            'PLANNEDUPRATEMONTH', 'PLANNEDUPRATEOFSUMMERCAPACITY(MW)', 'COUNTY','BALANCINGAUTHORITYCODE',
                                            'GOOGLEMAP','BINGMAP', 'UNITCODE','SECTOR','PLANTSTATE','GENERATORID'],errors='ignore').copy()

# Sixtys

In [6]:
sixtys = {16:sixty_2016,17:sixty_2017,18:sixty_2018,19:sixty_2019}

In [7]:
def clean_agg_sixtys(sixtys=sixtys):
    out = {}
    for item in sixtys.items():
        re_index_sixty(item[1])
        rename_cols(item[1])
        add_month(item[1])
        drop_cols(item[1])
        out[item[0]] = month_agg(item[1])
    for key in out.keys():
        out[key]['DATAYEAR'] = 2000 + key
    return out

In [8]:
sixtys_clean = clean_agg_sixtys()

In [9]:
sixtys_clean_f = {}
for df in sixtys_clean.items():
    sixtys_clean_f[df[0]] = df[1].drop(columns=['TECHNOLOGY','PRIMEMOVERCODE', 'OPERATINGMONTH', 'OPERATINGYEAR',
                                           'PLANNEDRETIREMENTMONTH', 'PLANNEDRETIREMENTYEAR', 'STATUS',
                                           'PLANNEDDERATEYEAR', 'PLANNEDDERATEMONTH',
                                           'PLANNEDDERATEOFSUMMERCAPACITY(MW)', 'PLANNEDUPRATEYEAR',
                                            'PLANNEDUPRATEMONTH', 'PLANNEDUPRATEOFSUMMERCAPACITY(MW)', 'COUNTY','BALANCINGAUTHORITYCODE',
                                            'GOOGLEMAP','BINGMAP', 'UNITCODE','SECTOR','PLANTSTATE','GENERATORID'],errors='ignore').copy()
    sixtys_clean_f[df[0]] =  sixtys_clean_f[df[0]].iloc[:-1,:]

In [10]:
for df in sixtys_clean_f.items():
    print(df[1].columns)
    print(len(df[1].columns))
    print('\n')

Index(['UTILITYID', 'UTILITYNAME', 'PLANTID', 'PLANTNAME',
       'NETSUMMERCAPACITY(MW)', 'ENERGYSOURCECODE', 'LATITUDE', 'LONGITUDE',
       'Month', 'NAMEPLATECAPACITY(MW)', 'NETWINTERCAPACITY(MW)', 'DATAYEAR'],
      dtype='object')
12


Index(['UTILITYID', 'UTILITYNAME', 'PLANTID', 'PLANTNAME',
       'NAMEPLATECAPACITY(MW)', 'NETSUMMERCAPACITY(MW)',
       'NETWINTERCAPACITY(MW)', 'ENERGYSOURCECODE', 'LATITUDE', 'LONGITUDE',
       'Month', 'DATAYEAR'],
      dtype='object')
12


Index(['UTILITYID', 'UTILITYNAME', 'PLANTID', 'PLANTNAME',
       'NAMEPLATECAPACITY(MW)', 'NETSUMMERCAPACITY(MW)',
       'NETWINTERCAPACITY(MW)', 'ENERGYSOURCECODE', 'LATITUDE', 'LONGITUDE',
       'Month', 'DATAYEAR'],
      dtype='object', name=0)
12


Index(['UTILITYID', 'UTILITYNAME', 'PLANTID', 'PLANTNAME',
       'NAMEPLATECAPACITY(MW)', 'NETSUMMERCAPACITY(MW)',
       'NETWINTERCAPACITY(MW)', 'ENERGYSOURCECODE', 'LATITUDE', 'LONGITUDE',
       'Month', 'DATAYEAR'],
      dtype='object', name=0)
12

In [11]:
sixtys_clean_f[16].shape

(243399, 12)

In [12]:
sixtys_full = sixtys_clean_f[16]
i = 0
for df in sixtys_clean_f.items():
    if i >= 1:
        sixtys_full = pd.concat([sixtys_full,df[1]],axis=0,ignore_index=True)
    i += 1
sixtys_full.shape

(1023319, 12)

In [13]:
sixtys_full = sixtys_full.replace(r'^\s*$', np.nan, regex=True)

In [14]:
sixtys_full['NETSUMMERCAPACITY(MW)'].fillna(sixtys_full['NAMEPLATECAPACITY(MW)'], inplace=True)
sixtys_full['NAMEPLATECAPACITY(MW)'].fillna(sixtys_full['NETSUMMERCAPACITY(MW)'], inplace=True)

sixtys_full['NETWINTERCAPACITY(MW)'].fillna(sixtys_full['NAMEPLATECAPACITY(MW)'], inplace=True)

In [15]:
sixtys_full = sixtys_full.dropna()

In [16]:
def gentype(row):
    if row['ENERGYSOURCECODE'] == 'Coal Integrated Gasification Combined Cycle' or row['ENERGYSOURCECODE'] == 'Conventional Steam Coal':
        return 'coal'
    elif row['ENERGYSOURCECODE'] == "Natural Gas Fired Combined Cycle" or row['ENERGYSOURCECODE'] == 'Natural Gas Fired Combustion Turbine' or row['ENERGYSOURCECODE'] == 'Natural Gas Internal Combustion Engine' \
    or row['ENERGYSOURCECODE'] == 'Natural Gas Steam Turbine' or row['ENERGYSOURCECODE'] == 'Natural Gas with Compressed Air Storage' or row['ENERGYSOURCECODE'] == 'Other Natural Gas' or row['ENERGYSOURCECODE'] == 'Other Gases'or row['ENERGYSOURCECODE'] == 'Landfill Gas':
        return 'natural_gas'
    elif row['ENERGYSOURCECODE'] == 'Petroleum Coke' or row['ENERGYSOURCECODE'] == 'Petroleum Liquids':
        return 'oil'
    elif row['ENERGYSOURCECODE'] == 'Conventional Hydroelectric' or row['ENERGYSOURCECODE'] == 'Hydroelectric Pumped Storage':
        return 'hydroelectric'
    elif row['ENERGYSOURCECODE'] == 'Geothermal':
        return 'geothermal'
    elif row['ENERGYSOURCECODE'] == 'Onshore Wind Turbine' or row['ENERGYSOURCECODE'] == 'Offshore Wind Turbine':
        return 'wind'
    elif row['ENERGYSOURCECODE'] == 'Solar Photovoltaic' or row['ENERGYSOURCECODE'] == 'Solar Thermal with Energy Storage' or row['ENERGYSOURCECODE'] == 'Solar Thermal without Energy Storage':
        return 'solar'
    elif row['ENERGYSOURCECODE'] == 'Nuclear':
        return 'nuclear'
    elif row['ENERGYSOURCECODE'] == 'ANT' or row['ENERGYSOURCECODE'] == 'BIT' or row['ENERGYSOURCECODE'] == 'COL' or row['ENERGYSOURCECODE'] == 'COM' or row['ENERGYSOURCECODE'] == 'CWM' or row['ENERGYSOURCECODE'] == 'SUB'\
    or row['ENERGYSOURCECODE'] == 'LIG' or row['ENERGYSOURCECODE'] == 'SGC' or row['ENERGYSOURCECODE'] == 'WC' or row['ENERGYSOURCECODE'] == 'RC':
        return 'coal'
    elif row['ENERGYSOURCECODE'] == 'BFG' or row['ENERGYSOURCECODE'] == 'NG' or row['ENERGYSOURCECODE'] == 'OG' or row['ENERGYSOURCECODE'] == 'GAS' or row['ENERGYSOURCECODE'] == 'MTH' or row['ENERGYSOURCECODE'] == 'LNG'\
    or row['ENERGYSOURCECODE'] == 'LPG' or row['ENERGYSOURCECODE'] == 'RG' or row['ENERGYSOURCECODE'] == 'MTH' or row['ENERGYSOURCECODE'] == 'SNG' or row['ENERGYSOURCECODE'] == 'LFG':
        return 'natural_gas'
    elif row['ENERGYSOURCECODE'] == 'DFO' or row['ENERGYSOURCECODE'] == 'JF' or row['ENERGYSOURCECODE'] == 'KER' or row['ENERGYSOURCECODE'] == 'PC' or row['ENERGYSOURCECODE'] == 'PG' or row['ENERGYSOURCECODE'] == 'RFO'\
    or row['ENERGYSOURCECODE'] == 'SGP' or row['ENERGYSOURCECODE'] == 'WO' or row['ENERGYSOURCECODE'] == 'CRU' or row['ENERGYSOURCECODE'] == 'FO1' or row['ENERGYSOURCECODE'] == 'FO2' or row['ENERGYSOURCECODE'] == 'FO3'\
    or row['ENERGYSOURCECODE'] == 'FO4' or row['ENERGYSOURCECODE'] == 'FO5' or row['ENERGYSOURCECODE'] == 'FO6' or row['ENERGYSOURCECODE'] == 'JF' or row['ENERGYSOURCECODE'] == 'KER' or row['ENERGYSOURCECODE'] == 'PET'\
    or row['ENERGYSOURCECODE'] == 'TOP':
        return 'oil'
    elif row['ENERGYSOURCECODE'] == 'WAT':
        return 'hydroelectric'
    elif row['ENERGYSOURCECODE'] == 'GST' or row['ENERGYSOURCECODE'] == 'GEO':
        return 'geothermal'
    elif row['ENERGYSOURCECODE'] == 'WND':
        return 'wind'
    elif row['ENERGYSOURCECODE'] == 'SUN':
        return 'solar'
    elif row['ENERGYSOURCECODE'] == 'NUC' or row['ENERGYSOURCECODE'] == 'UR':
        return 'nuclear'
    else:
        return 'other/unreported'

In [17]:
sixtys_full['GEN_TYPE'] = sixtys_full.apply (lambda row: gentype(row), axis=1)

In [18]:
sixtys_full = sixtys_full.infer_objects()
sixtys_full = sixtys_full.rename(columns={'Month':'MONTH','UTILITYID':'UTILITYNUMBER'})
sixtys_full = sixtys_full.drop(columns=['ENERGYSOURCECODE'])

In [19]:
sixtys_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1022754 entries, 0 to 1023318
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   UTILITYNUMBER          1022754 non-null  int64
 1   UTILITYNAME            1022754 non-null  object
 2   PLANTID                1022754 non-null  float64
 3   PLANTNAME              1022754 non-null  object
 4   NETSUMMERCAPACITY(MW)  1022754 non-null  float64
 5   LATITUDE               1022754 non-null  float64
 6   LONGITUDE              1022754 non-null  float64
 7   MONTH                  1022754 non-null  int64
 8   NAMEPLATECAPACITY(MW)  1022754 non-null  float64
 9   NETWINTERCAPACITY(MW)  1022754 non-null  float64
 10  DATAYEAR               1022754 non-null  int64
 11  GEN_TYPE               1022754 non-null  object
dtypes: float64(6), int64(3), object(3)
memory usage: 101.4+ MB

In [20]:
sixtys_full.to_csv('../data/860m_clean.csv',index=False)

 # Sixtyones

In [21]:
sixtyones = {16:sixtyone_2016_rev,17:sixtyone_2017_rev,18:sixtyone_2018_rev,
           19:sixtyone_2019_rev}

In [22]:
def re_index_sixtyones(sixtyones=sixtyones):
    for item in sixtyones.items():
            headers = sixtyones[item[0]].iloc[1]
            sixtyones[item[0]] = pd.DataFrame(sixtyones[item[0]].values[2:], columns=headers)

In [23]:
def sixtyones_drop(sixtyones=sixtyones):
    for item in sixtyones.items():
        sixtyones[item[0]] = item[1].iloc[:,[0,1,2,3,4,5,19,20,21]].copy()

def sixtyones_rename(sixtyones=sixtyones):
    for item in sixtyones.items():
        sixtyones[item[0]] = item[1].rename(columns={'THOUSANDSDOLLARS':'TOTALREVENUE','MEGAWATTHOURS':'TOTALSALES','COUNT':'TOTALCUSTOMERS'})
        
def sixtyones_addyear(sixtyones=sixtyones):
    for item in sixtyones.items():
        item[1]['DATAYEAR'] = 2000 + item[0]

def droplast(sixtyones=sixtyones):
    for df in sixtyones.items():
        sixtyones[df[0]] = df[1].iloc[:-1,:]

In [24]:
def clean_sixtyones(sixtyones=sixtyones):
    re_index_sixtyones()
    sixtyones_drop()
    rename_cols(sixtyones)
    sixtyones_rename()
    sixtyones_addyear()
    droplast()

In [25]:
clean_sixtyones()

In [26]:
sixtyones_full = sixtyones[16]
i = 0
for df in sixtyones.items():
    if i >= 1:
        sixtyones_full = pd.concat([sixtyones_full,df[1]],axis=0,ignore_index=True)
    i += 1
sixtyones_full.shape

(33386, 10)

In [27]:
def owntype(row):
        if row['OWNERSHIP'] == 'Municipal' or row['OWNERSHIP'] == 'MUNICIPAL' or row['OWNERSHIP'] == 'Federal' or row['OWNERSHIP'] == 'State' or row['OWNERSHIP'] == 'Political Subdivision':
            return 1
        elif row['OWNERSHIP'] == "COOPERATIVE" or row['OWNERSHIP'] == 'Cooperative' or row['OWNERSHIP'] == 'COOP' or row['OWNERSHIP'] == 'coop':
            return 2
        elif row['OWNERSHIP'] == 'Investor Owned':
            return 3
        elif row['OWNERSHIP'] == 'Behind the Meter':
            return 4
        else:
            return 0

In [28]:
sixtyones_full['OWNERTYPE'] = sixtyones_full.apply (lambda row: owntype(row), axis=1)

In [29]:
sixtyones_full['OWNERTYPE'].value_counts()

3    9213
4    7610
1    5733
2    5715
0    5115
Name: OWNERTYPE, dtype: int64

In [30]:
f = sixtyones_full.TOTALREVENUE.where(sixtyones_full.TOTALREVENUE=='.').isna()
sixtyones_full = sixtyones_full[f]
f = sixtyones_full.TOTALSALES.where(sixtyones_full.TOTALSALES=='.').isna()
sixtyones_full = sixtyones_full[f]

In [31]:
sixtyones_full = sixtyones_full.drop(columns=['OWNERSHIP'])

In [32]:
sixtyones_full = sixtyones_full.infer_objects()
f = sixtyones_full.UTILITYNUMBER.where(sixtyones_full.UTILITYNUMBER==0).isna()
sixtyones_full = sixtyones_full[f]
f = sixtyones_full.UTILITYNUMBER.where(sixtyones_full.UTILITYNUMBER==88888).isna()
sixtyones_full = sixtyones_full[f]
f = sixtyones_full.TOTALREVENUE.where(sixtyones_full.TOTALREVENUE==0).isna()
sixtyones_full = sixtyones_full[f]
f = sixtyones_full.TOTALSALES.where(sixtyones_full.TOTALSALES==0).isna()
sixtyones_full =sixtyones_full[f]

In [44]:
sixtyones_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28382 entries, 1 to 33383
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   YEAR            28382 non-null  int64
 1   MONTH           28382 non-null  int64
 2   UTILITYNUMBER   28382 non-null  int64
 3   UTILITYNAME     28382 non-null  object
 4   STATE           28382 non-null  object
 5   TOTALREVENUE    28382 non-null  float64
 6   TOTALSALES      28382 non-null  float64
 7   TOTALCUSTOMERS  28382 non-null  int64
 8   DATAYEAR        28382 non-null  int64
 9   OWNERTYPE       28382 non-null  int64
dtypes: float64(2), int64(6), object(2)
memory usage: 2.4+ MB

In [45]:
sixtyones_group = sixtyones_full.groupby(['DATAYEAR','MONTH','UTILITYNUMBER','UTILITYNAME']).agg({'TOTALREVENUE':'sum','TOTALSALES':'sum','TOTALCUSTOMERS':'sum','OWNERTYPE':'max'})
sixtyones_group =sixtyones_group.reset_index()

In [46]:
sixtyones_full.to_csv('../data/861m_state_clean.csv',index=False)
sixtyones_group.to_csv('../data/861m_clean.csv',index=False)

# Combining sets

In [36]:
sixtys_combine = sixtys_full.drop(columns=['LATITUDE','LONGITUDE','PLANTID','PLANTNAME']).copy()
y = pd.get_dummies(sixtys_combine.GEN_TYPE, prefix='is')
sixtys_combine = pd.concat([sixtys_combine, y],axis=1)
sixtys_combine = sixtys_combine.drop(columns=['GEN_TYPE'])
sixtys_combine.head()

,UTILITYNUMBER,UTILITYNAME,NETSUMMERCAPACITY(MW),MONTH,NAMEPLATECAPACITY(MW),NETWINTERCAPACITY(MW),DATAYEAR,is_coal,is_geothermal,is_hydroelectric,is_natural_gas,is_nuclear,is_oil,is_other/unreported,is_solar,is_wind
0,195,Alabama Power Co,56.0,1,56.0,56.0,2016,0,0,1,0,0,0,0,0,0
1,195,Alabama Power Co,138.0,1,138.0,138.0,2016,1,0,0,0,0,0,0,0,0
2,195,Alabama Power Co,137.0,1,137.0,137.0,2016,1,0,0,0,0,0,0,0,0
3,195,Alabama Power Co,249.0,1,249.0,249.0,2016,1,0,0,0,0,0,0,0,0
4,195,Alabama Power Co,362.0,1,362.0,362.0,2016,1,0,0,0,0,0,0,0,0

In [37]:
full_dirty = pd.merge(left=sixtys_combine,right=sixtyones_group,on=['DATAYEAR','MONTH','UTILITYNUMBER'])
full_dirty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241179 entries, 0 to 241178
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   UTILITYNUMBER          241179 non-null  int64
 1   UTILITYNAME            241179 non-null  object
 2   NETSUMMERCAPACITY(MW)  241179 non-null  float64
 3   MONTH                  241179 non-null  int64
 4   NAMEPLATECAPACITY(MW)  241179 non-null  float64
 5   NETWINTERCAPACITY(MW)  241179 non-null  float64
 6   DATAYEAR               241179 non-null  int64
 7   is_coal                241179 non-null  uint8
 8   is_geothermal          241179 non-null  uint8
 9   is_hydroelectric       241179 non-null  uint8
 10  is_natural_gas         241179 non-null  uint8
 11  is_nuclear             241179 non-null  uint8
 12  is_oil                 241179 non-null  uint8
 13  is_other/unreported    241179 non-null  uint8
 14  is_solar               241179 non-null  uint8
 15  is_wind                241179 non-null  uint8
 16  TOTALREVENUE           241179 non-null  float64
 17  TOTALSALES             241179 non-null  float64
 18  TOTALCUSTOMERS         241179 non-null  int64
 19  OWNERTYPE              241179 non-null  int64
dtypes: float64(5), int64(5), object(1), uint8(9)
memory usage: 24.2+ MB

In [38]:
full_dirty.head()

,UTILITYNUMBER,UTILITYNAME,NETSUMMERCAPACITY(MW),MONTH,NAMEPLATECAPACITY(MW),NETWINTERCAPACITY(MW),DATAYEAR,is_coal,is_geothermal,is_hydroelectric,is_natural_gas,is_nuclear,is_oil,is_other/unreported,is_solar,is_wind,TOTALREVENUE,TOTALSALES,TOTALCUSTOMERS,OWNERTYPE
0,195,Alabama Power Co,56.0,1,56.0,56.0,2016,0,0,1,0,0,0,0,0,0,439393.0,4872926.0,1459675,3
1,195,Alabama Power Co,138.0,1,138.0,138.0,2016,1,0,0,0,0,0,0,0,0,439393.0,4872926.0,1459675,3
2,195,Alabama Power Co,137.0,1,137.0,137.0,2016,1,0,0,0,0,0,0,0,0,439393.0,4872926.0,1459675,3
3,195,Alabama Power Co,249.0,1,249.0,249.0,2016,1,0,0,0,0,0,0,0,0,439393.0,4872926.0,1459675,3
4,195,Alabama Power Co,362.0,1,362.0,362.0,2016,1,0,0,0,0,0,0,0,0,439393.0,4872926.0,1459675,3

In [39]:
full_dirty['MW_COAL'] = full_dirty['NAMEPLATECAPACITY(MW)']*full_dirty['is_coal']
full_dirty['MW_GEOTHERMAL'] = full_dirty['NAMEPLATECAPACITY(MW)']*full_dirty['is_geothermal']
full_dirty['MW_HYDROELECTRIC'] = full_dirty['NAMEPLATECAPACITY(MW)']*full_dirty['is_hydroelectric']
full_dirty['MW_NATURAL_GAS'] = full_dirty['NAMEPLATECAPACITY(MW)']*full_dirty['is_natural_gas']
full_dirty['MW_NUCLEAR'] = full_dirty['NAMEPLATECAPACITY(MW)']*full_dirty['is_nuclear']
full_dirty['MW_OIL'] = full_dirty['NAMEPLATECAPACITY(MW)']*full_dirty['is_oil']
full_dirty['MW_OTHER'] = full_dirty['NAMEPLATECAPACITY(MW)']*full_dirty['is_other/unreported']
full_dirty['MW_SOLAR'] = full_dirty['NAMEPLATECAPACITY(MW)']*full_dirty['is_solar']
full_dirty['MW_WIND'] = full_dirty['NAMEPLATECAPACITY(MW)']*full_dirty['is_wind']
full_dirty.head()

,UTILITYNUMBER,UTILITYNAME,NETSUMMERCAPACITY(MW),MONTH,NAMEPLATECAPACITY(MW),NETWINTERCAPACITY(MW),DATAYEAR,is_coal,is_geothermal,is_hydroelectric,...,OWNERTYPE,MW_COAL,MW_GEOTHERMAL,MW_HYDROELECTRIC,MW_NATURAL_GAS,MW_NUCLEAR,MW_OIL,MW_OTHER,MW_SOLAR,MW_WIND
0,195,Alabama Power Co,56.0,1,56.0,56.0,2016,0,0,1,...,3,0.0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0
1,195,Alabama Power Co,138.0,1,138.0,138.0,2016,1,0,0,...,3,138.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,195,Alabama Power Co,137.0,1,137.0,137.0,2016,1,0,0,...,3,137.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,195,Alabama Power Co,249.0,1,249.0,249.0,2016,1,0,0,...,3,249.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,195,Alabama Power Co,362.0,1,362.0,362.0,2016,1,0,0,...,3,362.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
combine = full_dirty.groupby(['DATAYEAR','MONTH','UTILITYNUMBER']).agg({'NETSUMMERCAPACITY(MW)':'sum','NETWINTERCAPACITY(MW)':'sum','NAMEPLATECAPACITY(MW)':'sum'
                                                                       ,'is_coal':'mean','is_geothermal':'mean','is_hydroelectric':'mean','is_natural_gas':'mean'
                                                                       ,'is_nuclear':'mean','is_oil':'mean','is_other/unreported':'mean','is_solar':'mean','is_wind':'mean'
                                                                        ,'MW_COAL':'sum','MW_GEOTHERMAL':'sum','MW_HYDROELECTRIC':'sum','MW_NATURAL_GAS':'sum'
                                                                       ,'MW_NUCLEAR':'sum','MW_OIL':'sum','MW_OTHER':'sum','MW_SOLAR':'sum','MW_WIND':'sum'
                                                                       ,'TOTALREVENUE':'mean','TOTALSALES':'mean','TOTALCUSTOMERS':'mean'})
combine = combine.reset_index()

In [41]:
combine

,DATAYEAR,MONTH,UTILITYNUMBER,NETSUMMERCAPACITY(MW),NETWINTERCAPACITY(MW),NAMEPLATECAPACITY(MW),is_coal,is_geothermal,is_hydroelectric,is_natural_gas,...,MW_HYDROELECTRIC,MW_NATURAL_GAS,MW_NUCLEAR,MW_OIL,MW_OTHER,MW_SOLAR,MW_WIND,TOTALREVENUE,TOTALSALES,TOTALCUSTOMERS
0,2016,1,84,5.4,5.4,5.4,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,5.4,0.0,0.0,0.0,5863.315,52619.079,35170
1,2016,1,195,13431.8,13431.8,13431.8,0.244186,0.0,0.476744,0.244186,...,1673.7,2123.7,1757.0,16.0,0.0,0.0,0.0,439393.000,4872926.000,1459675
2,2016,1,213,196.6,196.6,196.6,0.000000,0.0,0.344828,0.000000,...,102.7,0.0,0.0,93.9,0.0,0.0,0.0,4283.966,39417.826,16776
3,2016,1,219,42.7,42.7,42.7,0.000000,0.0,0.210526,0.000000,...,14.4,0.0,0.0,28.3,0.0,0.0,0.0,1470.807,5414.652,7639
4,2016,1,221,54.7,54.7,54.7,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,54.7,0.0,0.0,0.0,5015.000,11093.000,10887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7797,2019,12,54913,45.1,45.1,45.1,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,45.1,0.0,126761.000,569070.000,686330
7798,2019,12,55937,2189.2,2205.2,2435.6,0.000000,0.0,0.250000,0.750000,...,81.0,2354.6,0.0,0.0,0.0,0.0,0.0,99469.076,1455672.697,461352
7799,2019,12,56146,117.8,117.8,117.8,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,28.0,0.0,0.0,89.8,20037.379,162077.000,97890
7800,2019,12,59622,36.2,36.2,36.2,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,36.2,0.0,125.223,544.751,41
7801,2019,12,60025,183.6,183.6,184.2,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,122.7,61.5,288.269,1883.090,3842

In [42]:
combine.to_csv('../data/combined.csv',index=False)